<!doctype html>
<html lang="pt-BR">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="../../public/css/home.css">
        <title>Página Principal</title>

    </head>

    <body>
        <header>
            <h1>Lotus Mangas</h1>

            <div class="header_align">
                <div class="divBusca">
                    <img src="../../public/assets/images/iconSearch.png"
                        alt="Buscar..." />
                    <input type="text" id="txtBusca" placeholder="Buscar..." />
                    <button class="btnBusca">Buscar</button>
                </div>

                <button type="submit">Login</button>

                <button type="submit">Logout</button>
            </div>

        </header>
    </body>
</html>