header {
    display: flex;
    align-items: center;
    background-color: #1b1b1b;
    padding: 10px 30px;
    border-bottom: 18px solid #2a2a2a;
    position: fixed;
    gap: 15px;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
}

.logo_h1 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    margin-top: 8px;
    height: 55px;
    width: 55px;
    object-fit: contain;
}

h2 {
    margin: 30px 0 20px 0;
    text-align: center;
    color: #00d1d9;
    font-size: 28px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #393939;
    margin: 50px;
    padding-top: 80px;
    margin-bottom: 15px;
}

h1 {
    margin: 0;
    color: #00d1d9;
    margin-bottom: 10px;
}

form > div {
    margin-bottom: 15px;
}

form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #2e2e2e;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    color: #ffffff;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="number"] {
    box-sizing: border-box;
    display: block;
    width: 100%;
    margin: 0 0 15px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #2e2e2e;
    color: white;
    font-size: 14px;
}

input[type="text"]:focus,
input[type="number"]:focus {
    border-color: #00d1d9;
    outline: none;
}

small {
    display: block;
    color: #999; 
    font-size: 0.85em;
    margin: 5px 0 15px 0;
}

input[type="number"] {
    width: 100%;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #00d1d9;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    justify-content: center;
}

button[type="submit"]:hover {
    background-color: #00a7ac;
}

a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #f44336;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

a:hover {
    color: #ff7961;
}

.alert-error {
    color: #d8000c;
    background-color: #ffd2d2;
    border: 1px solid #d8000c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
    text-align: center;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

ul li {
    margin-bottom: 5px;
}

.file-upload-container {
    margin-bottom: 20px;
}

.hidden-file-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.custom-file-upload-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #00d1d9;
    color: #ffffff;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 5px; 
    margin-bottom: 10px;
    transition: background-color 0.3s;
}

.custom-file-upload-button:hover {
    background-color: #00a7ac;
}

#file-name-display {
    display: block;
    margin-top: 5px;
    color: #b0b0b0; 
    font-size: 0.9em;
}